{:duct.core/environment :development
 :duct.core/include ["graphql_example/config"]

 ;; :duct.module/sql
 ;; {:database-url ""}

 :graphql-example.server/service
 #:io.pedestal.http{;; do not block thread that starts web server
                    :join? false
                    ;; Content Security Policy (CSP) is mostly turned off in dev mode
                    :secure-headers {:content-security-policy-settings {:object-src "'none'"}}}

 :graphql-example.server/server {:dev? true}}
