{:duct.core/environment :development

 ;; :duct.database.sql/hikaricp
 ;; {:jdbc-url ""}

 :duct.server/pedestal
 {:service #:io.pedestal.http{:join? false}}

 :graphql-example.graphql/service
 {:options {:env :dev}}}
